<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <% htmlWebpackPlugin.files.css.forEach(function(item){ %>
        <link rel="stylesheet" type="text/css" href="<%= item %>">
    <% }) %>
    <link rel="stylesheet" type="text/css" href="http://cdn.fed.dev.kashuo.net/ks/assets/fonts/index.css">
</head>
<body>
    <div id="app"><router-view ></router-view></div>
    <%= htmlWebpackPlugin.files.webpackManifest %>
    <%  ['vuecore','app'].map(function(item){
            return htmlWebpackPlugin.files.js.map(function(real){
                if(~real.indexOf(item)) return real
            }).join('')
        }).forEach(function(item){ %>
        <script type="text/javascript" src="<%= item %>"></script>
    <% }) %>
</body>
</html>